/* Media */

@media only screen and (max-width: 992px) {
    section #card_board .card_holder{
        height: 150px;
        padding: 10px 60px;    
}
}
@media only screen and (max-width: 767px) {
    section{
        margin-top: 230px;
    }
    section #card_board .card_holder{
        height: 150px;
        padding: 20px;   
    }
    section #card_board .card_holder .cardd div{
    line-height: 100px;
    }
    #hl{
        margin-bottom: 20px;
    }
    #h1 p{
        margin-top: 20px !important;
    }
    #hl p select{
        display: block;
        width: 50px;
        margin: 0 auto;
    }
    #hr .timer div{
        font-size: 2.5rem;
    }
    
}
@media only screen and (max-width: 575px) {
    section{
        margin-block-start: 42vh;
    }

}
@media only screen and (max-width: 313px) {
    #hm h1{
        font-size: 1rem;
    }
    .congrats h1{
        font-size: 30px;
    }
    section #card_board .card_holder .cardd div{
        line-height: 100px;
        font-size: 1rem;
        }
}